/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.mainContainer{
  background-image: url('../assets/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  padding-top: 50vh;
}

h1{
  font-family: 'Pacifico', cursive;
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: #FDC433;
}

h2{
  margin-top: 1rem;
}

h2, h3, p, button{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

body{
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
}

div{
  justify-content: center;
}

.buttonContainer, .playContainer{
  text-align: center;
  margin-top: 1rem;
}

.playContainer > a{
  color: black;
  background-color: #FDC433;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;

}

.playContainer > a:hover{
  background-color: black;
  color: #FDC433;
}

#drawCard{
  background-color: #FDC433;
  border: 2px solid #FDC433;
  border-radius: .2em;
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem 1rem;
}

#drawCard:hover{
  cursor: pointer;
  background: white;
}

.cardContainer{
  text-align: center;
}

.blurb{
  display: flex;
  justify-content: center;
}

p{
  margin: 1rem 30%;
  text-align: justify;
}

footer{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  padding-top: 150px;

}

footer span{
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  margin: 0 1rem;
}

footer span > a{
  color: #FDC433;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

@media screen and (max-width: 600px){

  h1{
    font-size: 28px;
  }

  p{
    margin: 0 2rem;
    font-size: 14px;
  }

}