/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
    text-align: center;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/

  
body{
  background-color: rgba(0, 128, 0, 0.814);
}

  img {
    display: block;

    max-width: 200px;
  }
  
.center{
  display: flex;
  justify-content: center;
}

button{
  padding: 5px;
}

  section{
    display: inline-block;
  }

  .rules{
    border: 2px solid black;
  width: 30rem;
    background-color: antiquewhite;
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/